@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "mobile_menu.css";
@import "style.css";
body.nav-active .nav {
  visibility: visible;
}

header {
  background-color: white;
}
@media screen and (max-width: 769px) {
  header {
    padding: 7px 0;
  }
}
@media screen and (max-width: 429px) {
  header {
    padding: 15px 0;
  }
}
header .container {
  max-width: 1064px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  position: absolute;
  left: calc(50% - 40px);
  top: 15px;
}
@media screen and (max-width: 429px) {
  header .container .logo {
    top: 12px;
  }
}
header .container .icon {
  width: 115px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin-right: 3px;
}
@media screen and (max-width: 429px) {
  header .container .icon {
    display: none;
  }
}
header .container nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
@media screen and (max-width: 769px) {
  header .container nav ul {
    display: inline-block;
  }
}
header .container nav ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #1C1B1B;
  margin-right: 26px;
}

@media screen and (max-width: 769px) {
  .nav-but-wrap {
    display: inline-block;
  }
}

@media screen and (max-width: 769px) {
  .nav {
    position: fixed;
    z-index: 98;
  }
}
@media screen and (max-width: 769px) {
  .nav .nav__content {
    position: fixed;
    visibility: hidden;
    left: 0;
    top: 50%;
    margin-top: 20px;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 769px) {
  .nav .nav__content .nav__list-item {
    position: relative;
    display: block;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
    opacity: 1;
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
    -webkit-transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.2s ease, transform 0.3s ease;
    transition: opacity 0.2s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 769px) {
  .nav .nav__content .nav__list-item a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 900;
    z-index: 2;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
}
@media screen and (max-width: 769px) {
  .nav .nav__content .nav__list-item a:after {
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -2px;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: #8167a9;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
}
@media screen and (max-width: 769px) {
  .nav .nav__content .nav__list-item a:hover {
    color: rgb(255, 255, 255);
  }
}
@media screen and (max-width: 769px) {
  .nav .nav__content .nav__list-item a:hover:after {
    height: 4px;
    opacity: 1;
    left: 0;
    width: 100%;
  }
}
.nav .nav__content.active-nav a {
  color: rgb(255, 255, 255);
}
.nav .nav__content.active-nav a::after {
  height: 4px;
  opacity: 1;
  left: 0;
  width: 100%;
}

.main_bunner {
  position: relative;
  background: #F0EFEB;
  padding-top: 90px;
  padding-bottom: 99px;
}
@media screen and (max-width: 769px) {
  .main_bunner {
    margin-top: 57px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 429px) {
  .main_bunner {
    padding-top: 16px;
    padding-bottom: 40px;
  }
}
.main_bunner .container_m {
  max-width: 1064px;
  margin: auto;
}
@media screen and (max-width: 769px) {
  .main_bunner .container_m {
    padding-left: 15px;
  }
}
@media screen and (max-width: 429px) {
  .main_bunner .container_m {
    max-width: 370px;
    margin: auto;
    text-align: center;
  }
}
.main_bunner .container_m img {
  position: absolute;
  top: 9px;
  right: 60px;
}
@media screen and (max-width: 769px) {
  .main_bunner .container_m img {
    max-width: 50%;
    top: 0;
    right: 0;
  }
}
@media screen and (max-width: 429px) {
  .main_bunner .container_m img {
    position: inherit;
    max-width: 100%;
    margin-top: 15px;
  }
}
.main_bunner .container_m h1 {
  max-width: 534px;
  margin-bottom: 42px;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
}
@media screen and (max-width: 769px) {
  .main_bunner .container_m h1 {
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 46px;
  }
}
@media screen and (max-width: 429px) {
  .main_bunner .container_m h1 {
    margin-bottom: 13px;
    font-size: 34px;
    line-height: 34px;
  }
}
@media screen and (max-width: 321px) {
  .main_bunner .container_m h1 {
    font-size: 30px;
  }
}
.main_bunner .container_m p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 33px;
  max-width: 481px;
}
@media screen and (max-width: 769px) {
  .main_bunner .container_m p {
    font-size: 19.5px;
    line-height: 24px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 429px) {
  .main_bunner .container_m p {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 25px;
  }
}
.main_bunner .container_m a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 7px 23px 9px;
  box-sizing: border-box;
}

.guides {
  background-color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 88px;
}
@media screen and (max-width: 769px) {
  .guides {
    padding-top: 40px;
    padding-bottom: 45px;
  }
}
@media screen and (max-width: 429px) {
  .guides {
    padding-top: 25px;
    padding-bottom: 35px;
  }
}
.guides .countries {
  max-width: 1064px;
  margin: auto;
}
.guides .countries h2 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 27px;
}
@media screen and (max-width: 429px) {
  .guides .countries h2 {
    font-size: 34px;
    line-height: 37px;
  }
}
@media screen and (max-width: 321px) {
  .guides .countries h2 {
    font-size: 29px;
  }
}
.guides .countries p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 429px) {
  .guides .countries p {
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    padding: 0 15px;
    margin-bottom: 15px;
  }
}
.guides .countries .curious {
  max-width: 632px;
  margin: auto;
  margin-bottom: 47px;
}

/*sellers*/
.sellers {
  background-color: #FFFFFF;
  padding-top: 0;
  padding-bottom: 248px;
}
@media screen and (max-width: 769px) {
  .sellers {
    padding-bottom: 100px;
  }
}
.sellers .container {
  max-width: 1064px;
  margin: auto;
}
.sellers .container h3 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 52px;
}
@media screen and (max-width: 769px) {
  .sellers .container h3 {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 321px) {
  .sellers .container h3 {
    font-size: 29px;
  }
}
.sellers .container .owl-carousel article {
  text-align: center;
}
.sellers .container .owl-carousel article img {
  max-width: 315px;
  margin: auto;
}
@media screen and (max-width: 769px) {
  .sellers .container .owl-carousel article img {
    max-width: 250px;
  }
}
.sellers .container .owl-carousel article .thalby {
  width: 156px;
  margin: auto;
  margin-top: 27px;
  margin-bottom: 17px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
.sellers .container .owl-carousel article .price {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}
.sellers .container .owl-carousel article a {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}
.sellers .container .owl-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sellers .container .owl-carousel .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  margin: 15px;
  background-color: dodgerblue;
}
.sellers .container .owl-carousel .owl-dots .owl-dot.active span {
  background-color: darkorchid;
  width: 25px;
  height: 25px;
}
.sellers .container .owl-nav .owl-prev {
  position: absolute;
  left: -30px;
  top: 185px;
  font-weight: 900 !important;
  font-family: "Font Awesome 6 Free" !important;
  rotate: 180deg;
}
.sellers .container .owl-nav .owl-prev:before {
  content: "\f054";
  color: black;
}
.sellers .container .owl-nav .owl-next {
  position: absolute;
  right: -30px;
  top: 185px;
  font-weight: 900 !important;
  font-family: "Font Awesome 6 Free" !important;
}
.sellers .container .owl-nav .owl-next:before {
  content: "\f054";
  color: black;
}

.people {
  background: rgba(204, 204, 204, 0.3);
  padding-top: 76px;
  padding-bottom: 51px;
}
@media screen and (max-width: 769px) {
  .people {
    padding: 40px 15px 30px;
  }
}
.people .sub_people {
  max-width: 1064px;
  margin: auto;
}
.people .sub_people article {
  display: flex;
}
@media screen and (max-width: 429px) {
  .people .sub_people article {
    display: inline-block;
    text-align: center;
  }
}
.people .sub_people article img {
  width: 100%;
  max-width: 375px;
}
@media screen and (max-width: 769px) {
  .people .sub_people article img {
    max-width: 330px;
  }
}
@media screen and (max-width: 361px) {
  .people .sub_people article img {
    max-width: 280px;
  }
}
.people .sub_people article .society {
  margin-left: 50px;
}
@media screen and (max-width: 769px) {
  .people .sub_people article .society {
    margin-left: 25px;
  }
}
@media screen and (max-width: 429px) {
  .people .sub_people article .society {
    margin-left: 0;
  }
}
.people .sub_people article h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  padding-top: 70px;
  margin-bottom: 31px;
}
@media screen and (max-width: 769px) {
  .people .sub_people article h3 {
    padding-top: 35px;
    margin-bottom: 20px;
    font-size: 33px;
  }
}
.people .sub_people article p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 40px;
  max-width: 498px;
}
@media screen and (max-width: 769px) {
  .people .sub_people article p {
    font-size: 30px;
    max-width: 380px;
    margin-bottom: 25px;
    text-align: justify;
  }
}
@media screen and (max-width: 429px) {
  .people .sub_people article p {
    max-width: 100%;
    line-height: 22px;
    font-size: 17px;
  }
}
.people .sub_people article a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
}

.maroccan {
  background: rgba(204, 204, 204, 0.6);
  padding-top: 76px;
  padding-bottom: 51px;
}
@media screen and (max-width: 769px) {
  .maroccan {
    padding: 40px 15px 30px;
  }
}
.maroccan .sub_maroccan {
  max-width: 1064px;
  margin: auto;
}
.maroccan .sub_maroccan article {
  display: flex;
}
@media screen and (max-width: 429px) {
  .maroccan .sub_maroccan article {
    display: inline-block;
    text-align: center;
  }
}
.maroccan .sub_maroccan article .heritage {
  margin-right: 50px;
  text-align: right;
}
@media screen and (max-width: 769px) {
  .maroccan .sub_maroccan article .heritage {
    margin-right: 25px;
  }
}
@media screen and (max-width: 429px) {
  .maroccan .sub_maroccan article .heritage {
    margin-right: 0;
    text-align: center;
  }
}
.maroccan .sub_maroccan article .heritage h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  padding-top: 92px;
  margin-bottom: 31px;
}
@media screen and (max-width: 769px) {
  .maroccan .sub_maroccan article .heritage h3 {
    padding-top: 35px;
    margin-bottom: 20px;
    font-size: 33px;
  }
}
.maroccan .sub_maroccan article .heritage p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  max-width: 513px;
  margin-bottom: 31px;
}
@media screen and (max-width: 769px) {
  .maroccan .sub_maroccan article .heritage p {
    font-size: 30px;
    max-width: 380px;
    margin-bottom: 25px;
    text-align: justify;
  }
}
@media screen and (max-width: 429px) {
  .maroccan .sub_maroccan article .heritage p {
    max-width: 100%;
    line-height: 22px;
    font-size: 17px;
  }
}
.maroccan .sub_maroccan article .heritage a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
}
.maroccan .sub_maroccan article img {
  width: 100%;
  max-width: 375px;
}
@media screen and (max-width: 769px) {
  .maroccan .sub_maroccan article img {
    max-width: 330px;
  }
}
@media screen and (max-width: 429px) {
  .maroccan .sub_maroccan article img {
    margin-top: 20px;
  }
}
@media screen and (max-width: 361px) {
  .maroccan .sub_maroccan article img {
    max-width: 280px;
  }
}

.power {
  background: rgba(204, 204, 204, 0.3);
  padding-top: 76px;
  padding-bottom: 51px;
}
@media screen and (max-width: 769px) {
  .power {
    padding: 40px 15px 30px;
  }
}
.power .sub_power {
  max-width: 1064px;
  margin: auto;
}
.power .sub_power article {
  display: flex;
}
@media screen and (max-width: 429px) {
  .power .sub_power article {
    display: inline-block;
    text-align: center;
  }
}
.power .sub_power article img {
  width: 100%;
  max-width: 375px;
}
@media screen and (max-width: 769px) {
  .power .sub_power article img {
    max-width: 330px;
  }
}
@media screen and (max-width: 361px) {
  .power .sub_power article img {
    max-width: 280px;
  }
}
.power .sub_power article .politics {
  margin-left: 50px;
}
@media screen and (max-width: 769px) {
  .power .sub_power article .politics {
    margin-left: 25px;
  }
}
@media screen and (max-width: 429px) {
  .power .sub_power article .politics {
    margin-left: 0;
  }
}
.power .sub_power article .politics h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  padding-top: 92px;
  margin-bottom: 31px;
}
@media screen and (max-width: 769px) {
  .power .sub_power article .politics h3 {
    padding-top: 35px;
    margin-bottom: 20px;
    font-size: 33px;
  }
}
.power .sub_power article .politics p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  max-width: 530px;
  margin-bottom: 39px;
}
@media screen and (max-width: 769px) {
  .power .sub_power article .politics p {
    font-size: 30px;
    max-width: 380px;
    margin-bottom: 25px;
    text-align: justify;
  }
}
@media screen and (max-width: 429px) {
  .power .sub_power article .politics p {
    max-width: 100%;
    line-height: 22px;
    font-size: 17px;
  }
}
.power .sub_power article .politics a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
}

.unique {
  background: white;
  padding-top: 190px;
  padding-bottom: 110px;
}
@media screen and (max-width: 769px) {
  .unique {
    padding: 50px 15px;
  }
}
.unique .sub_unique {
  max-width: 1280px;
  margin: auto;
}
.unique .sub_unique h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 429px) {
  .unique .sub_unique h3 {
    font-size: 28px;
    line-height: 37px;
  }
}
@media screen and (max-width: 361px) {
  .unique .sub_unique h3 {
    font-size: 26px;
    line-height: 37px;
  }
}
.unique .sub_unique .first {
  display: flex;
  justify-content: space-around;
  margin-top: 69px;
  margin-bottom: 111px;
}
@media screen and (max-width: 769px) {
  .unique .sub_unique .first {
    margin-top: 50px;
    margin-bottom: 85px;
  }
}
@media screen and (max-width: 429px) {
  .unique .sub_unique .first {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
.unique .sub_unique .first article {
  text-align: center;
  width: 216px;
}
.unique .sub_unique .first article img {
  width: 100%;
  max-width: 70px;
  margin-bottom: 25px;
}
.unique .sub_unique .first article p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 429px) {
  .unique .sub_unique .first article p {
    font-size: 17px;
    line-height: 20px;
  }
}
@media screen and (max-width: 361px) {
  .unique .sub_unique .first article p {
    font-size: 15px;
    line-height: 20px;
  }
}
.unique .sub_unique .second {
  display: flex;
  justify-content: space-around;
}
.unique .sub_unique .second article {
  text-align: center;
  width: 216px;
}
.unique .sub_unique .second article img {
  width: 100%;
  max-width: 70px;
  margin-bottom: 25px;
}
.unique .sub_unique .second article p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 429px) {
  .unique .sub_unique .second article p {
    font-size: 17px;
    line-height: 20px;
  }
}
@media screen and (max-width: 361px) {
  .unique .sub_unique .second article p {
    font-size: 15px;
    line-height: 20px;
  }
}

.voices {
  background: linear-gradient(to top, #F0F0F0 50%, white 50%);
  padding: 52px 0;
}
@media screen and (max-width: 769px) {
  .voices {
    padding: 35px 15px;
  }
}
@media screen and (max-width: 429px) {
  .voices {
    background: #F0F0F0;
  }
}
.voices .sub_voices {
  max-width: 1064px;
  margin: auto;
}
@media screen and (max-width: 429px) {
  .voices .sub_voices {
    text-align: center;
  }
}
.voices .sub_voices h3 {
  max-width: 705px;
  margin: auto;
  margin-bottom: 102px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 769px) {
  .voices .sub_voices h3 {
    margin-bottom: 38px;
  }
}
@media screen and (max-width: 429px) {
  .voices .sub_voices h3 {
    font-size: 28px;
    line-height: 37px;
    margin-bottom: 0;
  }
}
.voices .sub_voices .discover {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 429px) {
  .voices .sub_voices .discover {
    display: inline-block;
  }
}
.voices .sub_voices .discover article {
  text-align: center;
}
@media screen and (max-width: 769px) {
  .voices .sub_voices .discover article {
    max-width: 238px;
  }
}
.voices .sub_voices .discover article img {
  width: 100%;
  max-width: 288px;
  margin-bottom: 35px;
}
@media screen and (max-width: 769px) {
  .voices .sub_voices .discover article img {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 429px) {
  .voices .sub_voices .discover article img {
    margin-top: 50px;
  }
}
.voices .sub_voices .discover article .things {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #000000;
  margin-bottom: 40px;
  width: 269px;
}
@media screen and (max-width: 769px) {
  .voices .sub_voices .discover article .things {
    font-size: 17px;
    width: 235px;
    margin-bottom: 20px;
    line-height: 22px;
  }
}
.voices .sub_voices .discover article p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  margin-bottom: 44px;
  width: 269px;
}
@media screen and (max-width: 769px) {
  .voices .sub_voices .discover article p {
    width: 245px;
    font-size: 17px;
    margin-bottom: 20px;
  }
}
.voices .sub_voices .discover article a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
  width: 269px;
}

.touch {
  background-color: #FFFFFF;
  padding-top: 79px;
  padding-bottom: 98px;
}
@media screen and (max-width: 769px) {
  .touch {
    padding: 35px 15px;
  }
}
.touch .sub_touch {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}
.touch .sub_touch h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 9px;
}
.touch .sub_touch p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  max-width: 496px;
  margin: auto;
  margin-bottom: 26px;
}
.touch .first_form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.touch .contact {
  max-width: 366px;
  margin: auto;
}
.touch .contact input {
  width: 153px;
  padding-top: 12px;
  padding-left: 8px;
  padding-bottom: 11px;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A0A0A0;
}
@media screen and (max-width: 321px) {
  .touch .contact input {
    width: 140px;
  }
}
.touch .contact .third_form input {
  width: 100%;
  padding-top: 13px;
  padding-left: 8px;
  padding-bottom: 10px;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A0A0A0;
}
.touch .contact button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 7px 23px 10px;
  margin-top: 16px;
}

footer {
  background-color: #020202;
  padding-bottom: 16px;
  padding-top: 51px;
}
@media screen and (max-width: 769px) {
  footer {
    padding: 40px 15px 16px;
  }
}
footer .foot {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .foot .log img {
  margin-bottom: 45px;
}
@media screen and (max-width: 429px) {
  footer .foot .log img {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 361px) {
  footer .foot .log img {
    width: 100px;
  }
}
@media screen and (max-width: 321px) {
  footer .foot .log img {
    width: 85px;
  }
}
footer .foot .log ul {
  max-width: 115px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 429px) {
  footer .foot .log ul {
    margin-top: 30px;
    max-width: 100px;
  }
}
@media screen and (max-width: 361px) {
  footer .foot .log ul {
    max-width: 80px;
    margin-top: 43px;
  }
}
footer .foot .log ul li a img {
  width: 18px;
}
footer .foot .right {
  display: flex;
}
@media screen and (max-width: 429px) {
  footer .foot .right .contact {
    width: 100px;
  }
}
footer .foot .right .about {
  margin-right: 72px;
}
@media screen and (max-width: 769px) {
  footer .foot .right .about {
    margin-right: 32px;
  }
}
@media screen and (max-width: 429px) {
  footer .foot .right .about {
    margin-right: 10px;
    width: 100px;
  }
}
@media screen and (max-width: 391px) {
  footer .foot .right .about {
    width: 85px;
  }
}
@media screen and (max-width: 361px) {
  footer .foot .right .about {
    width: 75px;
  }
}
@media screen and (max-width: 361px) {
  footer .foot .right .contact {
    width: 75px;
  }
}
footer .foot .right ul {
  list-style: none;
}
footer .foot .right .ab {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 36px;
}
@media screen and (max-width: 429px) {
  footer .foot .right .ab {
    margin-bottom: 5px;
  }
}
footer .foot .right li {
  margin-bottom: 12px;
}
@media screen and (max-width: 429px) {
  footer .foot .right li {
    margin-bottom: 4px;
  }
}
footer .foot .right li a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}
@media screen and (max-width: 391px) {
  footer .foot .right li a {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (max-width: 321px) {
  footer .foot .right li a {
    font-size: 10px;
    line-height: 12px;
  }
}
footer .llc {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

/*# sourceMappingURL=preproc.css.map */
