@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "mobile_menu.css";
@import "style.css";

$main_font: 'robotobold';
$main_color: #1C1B1B;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

body.nav-active .nav {
  visibility: visible;
}
header {
  background-color: white;
  @include max-screen(769px) {
    padding: 7px 0;
  }
  @include max-screen(429px) {
    padding: 15px 0;
  }
  .container {
    max-width: 1064px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      position: absolute;
      left: calc(50% - 40px);
      top: 15px;
      @include max-screen(429px) {
        top: 12px;
      }
    }
    .icon {
      width: 115px;
      display: flex;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      margin-right: 3px;
      @include max-screen(429px) {
        display: none;
      }
    }
    nav {
      ul {
        display: flex;
        list-style: none;
        align-items: center;
        @include max-screen(769px) {
            display: inline-block;
        }
        li {
          a {
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            color: $main_color;
            margin-right: 26px;
          }
        }
      }
    }
  }
}

.nav-but-wrap {
  @include max-screen(769px) {
    display: inline-block;
  }
}
.nav {
  @include max-screen(769px) {
    position: fixed;
    z-index: 98;
  }
  .nav__content {
    @include max-screen(769px) {
      position: fixed;
      visibility: hidden;
      left: 0;
      top: 50%;
      margin-top: 20px;
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      width: 100%;
      text-align: center;
    }
    .nav__list-item {
      @include max-screen(769px) {
        position: relative;
        display: block;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
        opacity: 1;
        text-align: center;
        color: #fff;
        letter-spacing: 3px;
        //-webkit-transform: translate(100px, 0%);
        //transform: translate(100px, 0%);
        -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, transform .3s ease;
        transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
        margin-top: 0;
        margin-bottom: 0;
      }
      a {
        @include max-screen(769px) {
          position: relative;
          text-decoration: none;
          color: rgba(255, 255, 255, 0.6);
          cursor: pointer;
          padding-left: 5px;
          padding-right: 5px;
          font-weight: 900;
          z-index: 2;
          display: inline-block;
          text-transform: uppercase;
          -webkit-transition: all 200ms linear;
          transition: all 200ms linear;
        }
        &:after {
          @include max-screen(769px) {
            position: absolute;
            content: '';
            top: 50%;
            margin-top: -2px;
            left: 50%;
            width: 0;
            height: 0;
            opacity: 0;
            background-color: #8167a9;
            z-index: 1;
            -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
          }
        }
        &:hover {
          @include max-screen(769px) {
            color: rgba(255, 255, 255, 1);
          }
          &:after {
            @include max-screen(769px) {
              height: 4px;
              opacity: 1;
              left: 0;
              width: 100%;
            }
          }
        }
      }
    }
    &.active-nav{
      a{
        color: rgba(255,255,255,1);
        &::after{
          height: 4px;
          opacity: 1;
          left: 0;
          width: 100%;
        }
      }
    }
  }
}

.main_bunner {
    position: relative;
    background: #F0EFEB;
    padding-top: 90px;
    padding-bottom: 99px;
    @include max-screen(769px) {
      margin-top: 57px;
      margin-bottom: 30px;
    }
    @include max-screen(429px) {
      padding-top: 16px;
      padding-bottom: 40px;
    }
    .container_m {
      max-width: 1064px;
      margin: auto;
      @include max-screen(769px) {
        padding-left: 15px;
      }
      @include max-screen(429px) {
        max-width: 370px;
        margin: auto;
        text-align: center;
      }
      img {
        position: absolute;
        top: 9px;
        right: 60px;
        @include max-screen(769px) {
          max-width: 50%;
          top: 0;
          right: 0;
        }
        @include max-screen(429px) {
          position: inherit;
          max-width: 100%;
          margin-top: 15px;
        }
      }
      h1 {
        max-width: 534px;
        margin-bottom: 42px;
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        line-height: 70px;
        color: #000000;
        @include max-screen(769px) {
          margin-bottom: 30px;
          font-size: 32px;
          line-height: 46px;
        }
        @include max-screen(429px) {
          margin-bottom: 13px;
          font-size: 34px;
          line-height: 34px;
        }
        @include max-screen(321px) {
          font-size: 30px;
        }
      }
      p {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 33px;
        max-width: 481px;
        @include max-screen(769px) {
          font-size: 19.5px;
          line-height: 24px;
          margin-bottom: 25px;
        }
        @include max-screen(429px) {
          font-size: 17px;
          line-height: 22px;
          margin-bottom: 25px;
        }
      }
      a {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        line-height: 20px;
        color: #FFFFFF;
        background: #000000;
        border: 1px solid #000000;
        border-radius: 100px;
        padding: 7px 23px 9px;
        box-sizing: border-box;
      }
    }
  }

.guides {
    background-color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 88px;
    @include max-screen(769px) {
      padding-top: 40px;
      padding-bottom: 45px;
    }
    @include max-screen(429px) {
      padding-top: 25px;
      padding-bottom: 35px;
    }
    .countries {
      max-width: 1064px;
      margin: auto;
      h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #000000;
        margin-bottom: 27px;
        @include max-screen(429px) {
          font-size: 34px;
          line-height: 37px;
        }
        @include max-screen(321px) {
          font-size: 29px;
        }
      }
      p {
        font-family: 'Roboto', sans-serif;;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #000000;
       @include max-screen(429px) {
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        padding: 0 15px;
        margin-bottom: 15px;
      }
      }
      .curious {
        max-width: 632px;
        margin: auto;
        margin-bottom: 47px;
      }
    }
  }

  /*sellers*/

.sellers {
    background-color: #FFFFFF;
    padding-top: 0;
    padding-bottom: 248px;
    .container {
      max-width: 1064px;
      margin: auto;
      h3 {
        font-family: 'Roboto', sans-serif;;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #000000;
        margin-bottom: 52px;
        @include max-screen(769px) {
          margin-bottom: 25px;
        }
        @include max-screen(321px) {
          font-size: 29px;
        }
      }
      .owl-carousel {
        article {
          text-align: center;
          img {
            max-width: 315px;
            margin: auto;
            @include max-screen(769px) {
              max-width: 250px;
            }
          }
          .thalby {
            width: 156px;
            margin: auto;
            margin-top: 27px;
            margin-bottom: 17px;
            font-family: 'Roboto', sans-serif;;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            color: #000000;
          }
          .price {
            font-family: 'Roboto', sans-serif;;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            color: #000000;
            margin-bottom: 10px;
          }
          a {
            font-family: 'Roboto', sans-serif;;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            color: #000000;
            margin-bottom: 10px;
          }
        }
        .owl-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            .owl-dot {
              span {
                width: 15px;
                height: 15px;
                display: inline-block;
                border-radius: 50%;
                margin: 15px;
                background-color: dodgerblue;
              }
              &.active {
                span {
                  background-color: darkorchid;
                  width: 25px;
                  height: 25px;
                }
              }
            }
          }
        }
       .owl-nav {
        .owl-prev {
          position: absolute;
          left: -30px;
          top: 185px;
          font-weight: 900 !important;
          font-family: "Font Awesome 6 Free" !important;
          rotate: 180deg;
          &:before {
            content: "\f054";
            color: black;
          }
        }
        .owl-next {
          position: absolute;
          right: -30px;
          top: 185px;
          font-weight: 900 !important;
          font-family: "Font Awesome 6 Free" !important;
          &:before {
            content: "\f054";
            color: black;
          }
        }
      }
    }
  }
.people{
  background: rgba(204, 204, 204, 0.3);
  padding-top: 76px;
  padding-bottom: 51px;
  .sub_people{
    max-width: 1064px;
    margin: auto;
    article{
      display: flex;
      img{
        width: 100%;
        max-width: 375px;
      }
      .society{
        margin-left: 50px;
      h3{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: #000000;
        padding-top: 70px;
        margin-bottom: 31px;
      }
      p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        color: #000000;
        margin-bottom: 40px;
        max-width: 498px;
      }
      a{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #000000;
      }
    }
  }
  }
}
.maroccan{
  background: rgba(204, 204, 204, 0.6);
  padding-top: 76px;
  padding-bottom: 51px;
  .sub_maroccan{
    max-width: 1064px;
    margin: auto;
    article{
      display: flex;
      .heritage{
        margin-right: 50px;
        text-align: right;
      h3{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: #000000;
        padding-top: 92px;
        margin-bottom: 31px;
      }
      p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        color: #000000;
        max-width: 513px;
        margin-bottom: 31px;
      }
      a{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #000000;
      }
      }
      img{
        width: 100%;
        max-width: 375px;
      }
    }
  }
}

.power{
  background: rgba(204, 204, 204, 0.3);
  padding-top: 76px;
  padding-bottom: 51px;
  .sub_power{
    max-width: 1064px;
    margin: auto;
    article{
      display: flex;
      img{
        width: 100%;
        max-width: 375px;
      }
      .politics{
        margin-left: 50px;
        h3{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 42px;
          color: #000000;
          padding-top: 92px;
          margin-bottom: 31px;
        }
        p{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 42px;
          color: #000000;
          max-width: 530px;
          margin-bottom: 39px;
        }
        a{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 17px;
          line-height: 20px;
          text-decoration-line: underline;
          color: #000000;
        }
      }
    }
  }
}

.unique {
  background: white;
  padding-top: 190px;
  padding-bottom: 110px;
  .sub_unique {
    max-width: 1280px;
    margin: auto;
    h3{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: #000000;
    }
    .first {
    display: flex;
    justify-content: space-around;
      margin-top: 69px;
      margin-bottom: 111px;
      article{
        text-align: center;
        width: 216px;
        img {
          width: 100%;
          max-width: 70px;
          margin-bottom: 25px;
        }
        p{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          line-height: 35px;
          text-align: center;
          color: #000000;
        }
      }
  }
    .second{
      display: flex;
      justify-content: space-around;
      article{
        text-align: center;
        width: 216px;
        img{
          width: 100%;
          max-width: 70px;
          margin-bottom: 25px;
        }
        p{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          line-height: 35px;
          text-align: center;
          color: #000000;
        }
      }
    }
  }
}
.voices{
  background: linear-gradient(to top, #F0F0F0 50%, white 50%);
  padding:52px 0;
  .sub_voices{
    max-width: 1064px;
    margin: auto;
    h3{
      max-width: 705px;
      margin: auto;
      margin-bottom: 102px;
      text-align: center;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: #000000;
    }
    .discover{
      display: flex;
      justify-content: space-between;
      article{
        text-align: center;
        img{
          width: 100%;
          margin-bottom: 35px;
        }
        .things{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 26px;
          text-align: center;
          letter-spacing: 0.6px;
          color: #000000;
          margin-bottom: 40px;
          width: 269px;
        }
        p{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          color: #000000;
          margin-bottom: 44px;
          width: 269px;
        }
        a{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          text-decoration-line: underline;
          color: #000000;
          width: 269px;
        }
      }
    }
  }
}
.touch {
  background-color: #FFFFFF;
  padding-top: 79px;
  padding-bottom: 98px;

  .sub_touch {
    max-width: 1280px;
    margin: auto;
    text-align: center;

    h3 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      color: #000000;
      margin-bottom: 9px;
    }

    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
      color: #000000;
      max-width: 496px;
      margin: auto;
      margin-bottom: 26px;
    }

    a {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-decoration: none;
      color: #FFFFFF;
      background-color: #000000;
      border: 1px solid #000000;
      border-radius: 100px;
      padding: 7px 23px 10px;
    }
  }

  .contact {
    max-width: 366px;
    margin: auto;
    .first_form{
      display: flex;
      justify-content: space-between;
    }
    input {
      width: 153px;
    }
    .third_form{
      input{
      width: 100%;
      }
    }


    //.first_form{
    //display: flex;
    //justify-content: space-between;
    //input{
    //  width: 100%;
    //}
  }
}
footer{
  background-color: #020202;
  padding-bottom: 16px;
  padding-top: 51px;
  .foot{
    max-width: 1280px;
    margin: auto;
      display: flex;
      justify-content: space-between;
    .log{
      img{
        margin-bottom: 45px;
      }
      ul{
        max-width: 115px;
        display: flex;
        justify-content: space-between;
      }
    }
    .right{
      display: flex;
      .about{
        margin-right: 72px;
      }
      ul{
      list-style: none;
      }
      .ab{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
         color: #FFFFFF;
         margin-bottom: 36px;
      }
      li{
        margin-bottom: 12px;
        a{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #FFFFFF;
          text-decoration: none;
        }
      }

    }
  }
  .llc{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
  }
}





























