* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header .logo {
    position: absolute;
    left: calc(50% - 40px);
    top: 16px;
}

header .container {
    max-width: 1064px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container a img {
    margin-bottom: 10px;
}

.container ul {
    display: flex;
    list-style: none;
}

.container ul img {
    margin-left: 30.5px;
}

.instagram {
    margin-top: 10px;
}

.collestion li a {
    text-decoration: none;
    margin-right: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
}

.main_bunner {
    position: relative;
    background: #F0EFEB;
    height: 554px;
    padding-top: 90px;
    padding-bottom: 99px;
}

.main_bunner .container {
    max-width: 1064px;
    margin: auto;
}

.main_bunner .container img {
    position: absolute;
    top: 9px;
    right: 60px;
}

.main_bunner .container h1 {
    max-width: 534px;
    margin-bottom: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.main_bunner .container p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 33px;
    max-width: 481px;
}

.main_bunner .container a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 7px 23px 9px;
    box-sizing: border-box;
}

.guides {
    background-color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 88px;
}

.countries {
    max-width: 692px;
    margin: auto;
}

.countries h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
}

.countries p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

.curious {
    max-width: 585px;
    margin: auto;
    margin-bottom: 47px;
}

